# ====================================================
# Configuration Surveillance Midea PortaSplit
# ====================================================

CHECK_INTERVAL_SECONDS=30
PREFERRED_CITY=Île-de-France

# CANAL DISCORD WEBHOOK
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/votre_webhook_ici

NTFY_TOPIC=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

PORT=8000
HOST=0.0.0.0
